@use '../../styles/variables' as *;

.logo {
  border-radius: 9999rem;
  border: 0.25vw solid white;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-left: 1rem;
  margin-right: 1rem;

  width: 150px;
  height: 150px;

  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease;

  @media (min-width: 576px) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: 768px) {
    width: 256px;
    height: 256px;
  }

  @media (min-width: 1200px) {
    width: 300px;
    height: 300px;
  }

  &:hover {
    transform: scale(1.095);
  }
}

.logo.fade-out {
  opacity: 0;
  transform: translateX(-40px);
}

.logo.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.content-wrapper.responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
